
.dark-overlay{
    height: 50vh;
    width: 100%;
    background:#1A6C7A;
    opacity: 95%;
    overflow: hidden;
}
.start-page-layout{
        position: relative; 
        text-align: center;
        color:white;
}
.centered-text{
        position: absolute;
        top:40%;
        left:50%;
        transform:translate(-50%,-50%);
}
.centered-text h1{
        font-size: 8vh;
}
.homepage-image{
        object-fit: cover;
        opacity: 0.4;
        width: 100%;
        height: 50vh;
        
}