
#cards{
margin-bottom: 10vh;

}
#card{
    margin-bottom: 2vh;
    height: 60vh;
    color: white;   
}
#image{
    height: 60vh;
    object-fit: cover;
    filter:brightness(0.6);
}
#list{
    list-style-type:square;
    margin-top: 4vh;
 
}

#title{
    font-weight: 700;
    margin-top: 4vh;
    margin-bottom: 3vh;

}
@media screen and (max-width: 1000px) {
    #card{
        height: auto;
        width: 40vh;
        margin: auto;
        margin-bottom: 2vh;
        margin-top: 5vh;
        border-radius: 1vh;
    }
    #image{
        height: 60vh;
        border-radius: 1vh;

      
    }
   
    #cards{
        height: auto;
    }
}