
#cards{
border: 2px solid black;

}
#card{
    border: 2px solid black;
    margin-bottom: 2vh;
    height: 50vh;
    color: white;
}
#image{
    height: 50vh;
    object-fit: cover;
    filter:brightness(0.6);
}
#textbody{
    font-size: 2px;
}