
#cards{
border: 2px solid black;
margin-bottom: 10vh;

}
#card{
    border: 2px solid black;
    margin-bottom: 2vh;
    height: 60vh;
    color: white;
}
#image{
    height: 60vh;
    object-fit: cover;
    filter:brightness(0.6);
}
#list{
    border: 2px solid black;
    list-style-type:square;
 
}
@media screen and (max-width: 1000px) {
    #card{
        height: auto;
        width: 50vh;
        margin: auto;
        margin-bottom: 2vh;
        margin-top: 5vh;
    }
    #image{
        height: 60vh;
      
    }
    #cards{
        height: auto;
    }
}