
#price-text h3{
    font-weight: 600;
    color:white;
   
}
#price-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    width: 25vh;
    text-align: center;
    font-weight: 200;

}
#container{
    border-radius: 3vh;
    object-fit: cover;
    height: 60vh;
    width: 35vh;
    filter: brightness(0.5);
    padding: 1.5vh;
    
}
#items{
    text-align: left;
    font-weight: 600;
    list-style-type:circle;
}
#title{
    border:2px solid black;
    margin-top: 10vh;
}
#information{
    border:2px solid black;
    margin-top: 1vh;
}