
/* Home */
.dark-overlay{
    height: 90vh;
    width: 100%;
    background:#1A6C7A;
    opacity: 95%;
    overflow: hidden;
}
.start-page-layout{
        position: relative; 
        text-align: center;
        color:white;
}
.centered-text{
        position: absolute;
        top:40%;
        left:50%;
        transform:translate(-50%,-50%);
}
.centered-text h1{
        font-size: 8vh;
}
.homepage-image{
        object-fit: cover;
        opacity: 0.4;
        width: 100%;
        height: 90vh;
        
}
#servicesBtn{
    background-color: none;
    border-radius: 2px;
    width: 15vh;
    margin-right: 3vh;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
}
#servicesBtn:hover{
    background-color: #1A6C7A;
    border:2px solid #1A6C7A;
    letter-spacing: 0.1vh;
}
#historyBtn{
    background-color: none;
    border-radius: 2px;
    
    margin-right: 3vh;
    border: 2px solid #1A6C7A;
    color: #1A6C7A;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
    
}
#historyBtn:hover{
    background-color: #1A6C7A;
    border:2px solid #1A6C7A;
    letter-spacing: 0.1vh;
    color:white
}
#aboutUsBtn{
    background-color: white;
    border-radius: 2px;
    width: 15vh;
    margin-right: 3vh;
    border: 2px solid white;
    color: #1A6C7A;
    text-transform: uppercase;
    letter-spacing: 0.1vh;
}
#aboutUsBtn:hover{
    background-color: #1A6C7A;
    border:2px solid #1A6C7A;
    color:white;
    letter-spacing: 0.1vh;
}

/* Navbar */

#navbar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
}
#img-logo{
    width:22vh;
    margin-left: 2rem;
}
#img-logo:hover{
    opacity: 0.6;
}
#navlink{
    color: white;
    margin: 1vh;
    
     
}
.navlinks{
    margin-left: 4rem;
}
#navlink:hover{
    opacity: 0.6;
    border-bottom: 0.1px solid white;
}

/* About us */

.dark-overlay{
    height: 50vh;
    width: 100%;
    background:#1A6C7A;
    opacity: 95%;
    overflow: hidden;
}
.start-page-layout{
        position: relative; 
        text-align: center;
        color:white;
}
.centered-text{
        position: absolute;
        top:40%;
        left:50%;
        transform:translate(-50%,-50%);
}
.centered-text h1{
        font-size: 8vh;
}
.homepage-image{
        object-fit: cover;
        opacity: 0.4;
        width: 100%;
        height: 50vh;
        
}

/* services  */

.services-page-layout{
    position: relative; 
    text-align: center;
    color:white;
}
@media screen and (max-width: 800px) {
    #cards{
       width: 100%!important;
    }
    #aboutUsBtn{
        width: 25vh;
        margin-top: 1vh;
    }
    #servicesBtn{
        width: 25vh;
    }
    .centered-text{
        margin-top: 10vh;
    }
    .homepage-image{
        height:100%
    }
    #galleryImages{
        width:100%!important;
    }
  }

