body{
  
}
.timer-component{
border: 2px solid black;
border-radius: 50%;
}

.add-remove-time{
    cursor: pointer;
}

.TimerForm{
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
 }